<h1>Companies
    <button class="btn btn-success float-right">Add</button>
  </h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- companies$ is the observable and need to use async -->
      <tr *ngFor="let company of companies">
        <td>{{company.name}}</td>
        <td>{{company.phone}}</td>
        <td>{{company.email}}</td>
        <td class="button-cell">
          <button type="button" class="btn btn-info">Edit</button>
          <button type="button" class="btn btn-danger" (click)='deleteCompany(company)'>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
